body {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
  line-height: 1.5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

svg {
  width: 24px;
  margin: 5px;
}

/* Header styles */
header {
  background-color: rgb(70, 202, 225);
  margin: 24px 24px 0 24px;
  border-radius: 10px;
}

.info {
  display: flex;
  border-radius: 10px;
  margin: 0 30px 0 30px;
  position: relative;
  top: 60px;
}

img {
  max-width: 500px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.066);
  z-index: 2;
  border-radius: 5px;
}

header article {
  padding: 15px;
  background-color: white;
  border-radius: 5px;
  align-self: center;
  flex-shrink: 1;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.203);
  z-index: 1;
}

.header-icons {
  display: flex;
  justify-content: end;
  gap: 10px;
}

header > svg {
  width: 100%;
  fill: white;
  position: relative;
  top: 20px;
  right: 5px;
}

/* Main styles */
main,
footer {
  margin: 0 24px 24px 24px;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.project {
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.203);
  border-radius: 5px;
}

.project-pic {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(70, 202, 225);
  border-radius: 5px 5px 0 0;

}

.project-content {
  padding: 10px;
}

.line1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-content p {
  color: rgba(0, 0, 0, 0.631);
}

/* Footer styles */

footer {
  display: flex;
  background-color: rgb(70, 202, 225);
  padding: 30px;
  gap: 20px;
  border-radius: 5px;
}

footer p span {
  display: flex;
  align-items: center;
  gap: 10px;
}

footer svg {
  margin: 0;
}

.footer-icons {
  display: flex;
  gap: 10px;
}

@media (max-width: 850px) {
  .projects {
    grid-template-columns: 1fr 1fr;
    max-width: 650px;
    justify-items: center;
    margin: 0 auto;
  }

  main h2 {
    text-align: center;
  }
  header img {
    max-width: 350px;
  }

  footer img {
    max-width: 280px;
  }
}

@media (max-width: 700px) {
  .projects {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .info {
    flex-direction: column;
  }
  header img{
    border-radius: 5px 5px 0 0;
  }
  img {
    max-width: 400px;
  }

  header article {
    max-width: 500px;
    align-self: flex-start;
  }

  main h2 {
    text-align: center;
  }
  .project {
    max-width: 350px;
  }

  footer {
    flex-direction: column;
  }
}
